/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Source Serif Pro', serif;*/

:root{
    --background-black: #2a3246;
    --background-white: white;
    scroll-behavior: smooth;
}
body{
    background-color: var(--background-white);
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: black;
    font-size: 14px;
    line-height: 1.2;
}

a, .link{
    text-decoration: none;
    color: #545454;
}
a:hover, .link:hover{
    color: blue;
}
/*header*/

.header{
    background-color: var(--background-white);
    position: sticky;
    top: 0;
    z-index: 3;
}
.navigation{
    border-bottom: 1px solid gray;
    padding: 2px 0;
}
.header-logo{
    width: 60px;
    background-color: var(--background-black);
    text-align: center;
}
.letter-logo{
    font-size: 52px;
    font-weight: bolder;
    color: white;
}
.right-items{
    justify-content: end;
    align-items: center;
}
.right-item{
    text-align: end
}
.left-items{
    align-items: center;
}

/*main paige*/

.main-page{
    padding: 16rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-white);
    /*height: 90vh;*/
}
.main-page-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.title{
    font-size: 48px;
    font-weight: normal;
    line-height: 1.5;
    padding-top: 40px;
    text-align: center;
}
.quote{
    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: gray;
    text-align: center;
}
.btn{
    margin: 30px 0;
    padding: 10px 20px;
    background-color: var(--background-white);
    border: 1px solid black;
    border-radius: 3px;
    scroll-behavior: smooth;
}
.btn:hover{
    color: white;
    background-color: var(--background-black);
}
.points{
    position: relative;
    bottom: -14rem;
}

/*history*/
.history-container{
    background-color: var(--background-black);
    position: relative;
}
/*
.history-container::before,
.history-container::after{
    content: "";
    background-image: url("../img/black.png");
    position: absolute;

    min-width: 100%;
    min-height: 234px;
    bottom: 0;

    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.history-container::after{
    background-image: url("../img/white.png");
    min-height: 239px;
    bottom: -3px;
}
*/
.black-build,
.white-build{
    position: absolute;

    width: 100%;
    bottom: 0;

    repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;

}
.white-build{
    bottom: -2px;
}

.history-content{
    flex-direction: column;
    color: white;
    padding-bottom: 250px;
    position: relative;
    align-items: center;
}
.history-content::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: white;
    bottom: 0;
}
.right-side{
    margin-top: 20px;
    justify-content: flex-end;
    position: relative;
    width: 100%;
}
.year-2012,
.year-2011,
.year-2013,
.year-2014{
    position: relative;
}
.left-side::before,
.right-side::before,
.last-2013::before{
    content: "";
    position: absolute;
    transform: translateX(50%);
    height: 20px;
    width: 20px;
    border: 3px solid var(--background-white);
    border-radius: 50%;
    background-color: var(--background-black);
    right: 50%;
    top: 20%;
    z-index: 2;
}
.last-2013::before{
    height: 40px;
    width: 40px;
}


.left-side{
    margin-top: 80px;
    text-align: end;
    width: 100%;
    position: relative;
}
.subtitle{
    font-size: 48px;
    font-weight: normal;
}
.quote-secondary{
    font-size: 12px;
    text-align: justify;
}

/*team*/
.grayscale {
    filter: grayscale(1);
    transition: 1s;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.team{
    background-color: var(--background-white);
    margin: 200px auto;
}

.team-content{
    flex-direction: column;
    align-items: center;
    padding: 60px 0;

}

.main-subtitle{
    font-size: 36px;
    line-height: 1.5;

}
.team-cards{
    padding: 60px 0;
    width: 100%;
    justify-content: space-between;
}

.worker{
    flex-wrap: nowrap;
    text-align: center;
}
.surname{
    font-size: 24px;
    color: #464646;
}
.profession{
    font-size: 12px;
    color: #6e6e6e;
}
/*blog*/

.skew{
    transform: skewY(-10deg);
}
.unskew{
    transform: skewY(10deg);
}
.blog{
    background-color: var(--background-black);
    color: white;
}
.blog-container::after{
    /*
    content: url("../img/text-background.png");
    position: absolute;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    */
    content: "";
    background-image: url("../img/text-background.png");
    position: absolute;

    min-width: 100%;
    min-height: 800px;
    bottom: 0;

    background-repeat: no-repeat;
    background-size: 80% 100%;
    overflow: hidden;

}
.blog-container{
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 100px 0 200px;
}
.blog-content{
    justify-content: space-between;

}
.blog-item{
    text-align: center;
}

.blog-text{
    color: gray;
}
.white-btn{
    margin-top: 300px;
}
.logo-blog{
    margin: 25px auto;
    position: relative;
    width: 100px;
    height: 100px;
    border: 5px solid white;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.address-content{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    z-index: 2;
}
.address-title{
    font-size: 28px;
    line-height: 1.5;
}
.link-address{
    margin-left: 5px;
}
.contacts{
    margin-top: 30px;
}

.contacts-item{
    justify-content: center;
    align-items: center;
    display: flex;
}
.form{
    flex-direction: column;
    margin: 100px auto;
    width: 100%;
    align-items: center;
}
.input-container{
    width: 100%;
}
.submit{
    width: 100%;
}
.submit-btn{
    width: 100%;
    background-color: var(--background-black);
    color: var(--background-white);
    padding: 10px 0;
}
.input-element{
    width: 100%;
    font-size: 16px;
    color: gray;
    padding: 5px 5px;
    text-align: center;
}
.text-position{
    text-align: left;
}
/*footer*/
.footer{
    text-align: center;
    margin-bottom: 10px;
}

/*auxiliary class*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
*{}


/*media*/


@media screen and (max-width: 768px) {
    .main-page,
    .history-content,
    .team-content   {
        min-height: fit-content;
        padding: 50px;
    }
    .contacts-list{
        flex-direction: column;
        align-items: center;
    }
    .form{
        margin: 0 auto;
    }
    .blog-container{
        padding: 0px;
    }
    .white-btn{
        margin-top: 100px;
    }
    .team-cards{
        flex-direction: column;
        justify-content: center;
    }
    .team{
        margin: 0;
    }
    .address-content,
    .right-side,
    .left-side{
        margin: 10px;
    }
    /*
    .history-container::before,
    .history-container::after{
        background-size: 100% 40%;
    }
    */

}

@media screen and (max-width: 576px) {
    * body{
        margin: 0;
        padding: 0;
    }
    .white-btn{
        margin-top: 0px;
    }
    .main-page,
    .history-content,
    .team-content{
        min-height: fit-content;
        padding: 20px;
    }

    .header-logo {
        display: none;
    }
    .blog-content{
        flex-direction: column;
        align-items: center;
    }
    .address-content,
    .right-side,
    .left-side{
        margin: 0px;
    }
    .blog-item{
        display: flex;
        flex-direction: row;
        min-width: fit-content;
        padding: 2px;
    }
    .logo-blog{
        flex-shrink: 0;
    }
    .history-container::before,
    .history-container::after{
        background-image: none;
    }

}